.features {
  @extend %section;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  // border-bottom: 1px solid #ececec;
}
.container-features {
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  &.visually-hidden {
    @extend %visually-hidden;
  }
}
.features-list {
  @extend %list;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0;
  }
}
.feature-item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin: 0;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.feature-icon {
  @media screen and (max-width: 767px) {
    width: 450px;
    height: 120px;
    text-align: center;
    padding: 25px 0;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
    text-align: center;
    padding: 25px 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
  }

  border-radius: 4px;
  background-color: $secondary-bg-color;
}
.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.features-text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: $text-color;
}
