.flex-contacts {
  @extend %list;
  text-align: center;
}
.contacts-item {
  margin-bottom: 20px;
  transition: color 250ms $transition-timing-function,
    fill 250ms $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &:last-child {
    margin-bottom: 60px;
  }
}
.header-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.envelope {
  margin-right: 10px;
  color: $text-color;
  .contacts-item:hover &,
  .contacts-item:focus & {
    fill: $accent-color;
  }
}
.phone {
  margin-right: 10px;
  fill: $text-color;
  .contacts-item:hover &,
  .contacts-item:focus & {
    fill: $accent-color;
  }
}
// .flex-contacts {
//   @extend %list;
//   display: flex;
//   align-items: center;
//   margin-left: auto;
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }
// .contacts-item {
//   display: flex;
//   margin-right: 30px;
//   transition: color 250ms $transition-timing-function,
//     fill 250ms $transition-timing-function;
//   &:hover,
//   &:focus {
//     color: $accent-color;
//     fill: $accent-color;
//   }
//   &:last-child {
//     margin-right: 0;
//   }
// }
// .header-link {
//   @extend %link;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $text-color;
//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }
// .envelope {
//   margin-right: 10px;
//   color: $text-color;
//   .contacts-item:hover &,
//   .contacts-item:focus & {
//     fill: $accent-color;
//   }
// }
// .phone {
//   margin-right: 10px;
//   fill: $text-color;
//   .contacts-item:hover &,
//   .contacts-item:focus & {
//     fill: $accent-color;
//   }
// }
