.footer-page {
  background-color: #2f303a;
  @extend %section;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer {
  @extend %container;
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: baseline;
  }
}
.tablet-footer {
  @media screen and (min-width: 768px), (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    // margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

// .copyright {
//   border-top: 1px solid rgba(255, 255, 255, 0.1);
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-top: 18px;
//   padding-bottom: 21px;
//   font-size: 12px;
//   line-height: 2;
//   text-align: center;

//   color: rgba(255, 255, 255, 0.4);
// }
