.main-nav {
  @extend %container;
  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 60px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    align-items: center;
  }
}
.header {
  position: relative;
  @media screen and (max-width: 767px) {
    width: 480px;
    // padding-top: 60px;
    // padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    // padding-top: 60px;
    // padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    // padding-top: 94px;
    // padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
  }
}
