.hero {
  text-align: center;
  background-color: $primary-white-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-position: center;

  @media screen and (max-width: 767px) {
    width: 480px;
    height: 400px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
  }
  // @media screen and (min-width: 768px), (max-width: 1199px) {
  //   width: 768px;
  //   height: 400px;
  // }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
    padding-top: 118px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  border: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
