// .projects {
//   @extend %section;
//   border-top: 1px solid #ececec;
// }
// .container {
//   @extend %container;
// }
// .section-title {
//   margin-top: 0;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   &.visually-hidden {
//     @extend %visually-hidden;
//   }
// }

// /* Button */
// .btn {
//   margin-bottom: 50px;
// }
// .button-list {
//   @extend %list;
//   display: flex;
//   justify-content: center;
// }
// .btn-item {
//   margin-right: 8px;
//   &:last-child {
//     margin-right: 0;
//   }
// }

// .button {
//   display: inline-block;
//   min-width: 73px;
//   min-height: 38px;
//   background-color: #f5f4fa;
//   border-radius: 4px;
//   border-color: transparent;
//   padding: 6px 22px;
//   cursor: pointer;

//   font-family: $font-family;
//   color: $title-color;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   transition: background-color 250ms $transition-timing-function,
//     color 250ms $transition-timing-function,
//     box-shadow 250ms $transition-timing-function;
//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//     color: $primary-white-color;
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 3px 1px rgba(0, 0, 0, 0.1);
//   }
// }
