.projects {
  @extend %section;
  border-top: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  @extend %container;
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title {
  margin-top: 0;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  &.visually-hidden {
    @extend %visually-hidden;
  }
}
.button-list {
  @extend %list;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.btn-item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}
.button {
  display: inline-block;
  min-width: 73px;
  min-height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  cursor: pointer;

  font-family: $font-family;
  color: $title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: background-color 250ms $transition-timing-function,
    color 250ms $transition-timing-function,
    box-shadow 250ms $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

// /* Button */
// .btn {
//   margin-bottom: 50px;
// }
// .button-list {
//   @extend %list;
//   display: flex;
//   justify-content: center;
// }
// .btn-item {
//   margin-right: 8px;
//   &:last-child {
//     margin-right: 0;
//   }
// }

// .button {
//   display: inline-block;
//   min-width: 73px;
//   min-height: 38px;
//   background-color: #f5f4fa;
//   border-radius: 4px;
//   border-color: transparent;
//   padding: 6px 22px;
//   cursor: pointer;

//   font-family: $font-family;
//   color: $title-color;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   transition: background-color 250ms $transition-timing-function,
//     color 250ms $transition-timing-function,
//     box-shadow 250ms $transition-timing-function;
//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//     color: $primary-white-color;
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 3px 1px rgba(0, 0, 0, 0.1);
//   }
// }
