.worker {
  @extend %section;
  background-color: $secondary-bg-color;
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
  }
}
.container {
  @extend %container;
  @media screen and (max-width: 767px) {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.worker-list {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0;
  }
}
.worker-item {
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  @media screen and (max-width: 767px) {
    width: 450px;
    height: 482px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin: 0;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.worker-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.worker-text {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.18;
  color: $text-color;
  text-align: center;
}

.social-list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.icon-socials {
  fill: $svg-color;
  transition: fill 250ms $transition-timing-function;
  .social-item:hover &,
  .social-item:focus & {
    fill: $primary-white-color;
  }
}

.social-item > .link {
  @extend %link;
  display: flex;
}
