.work {
  @extend %section;
}
.container {
  @extend %container;
}
.work-list {
  @extend %list;
  display: flex;
}

.work-title {
  position: absolute;
  left: 0;
  bottom: 0;

  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}
.work-item {
  position: relative;

  width: calc((100% - 60px) / 3);

  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
